#navbarNavAltMarkup{
    justify-content: space-between;
}

#main-body-bg{
    background-image: url(main-body-bg.png);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    justify-content: space-between;
    align-items: flex-start;
    height: 88%;
}

.navbar{
    font-family: 'Poppins';
    font-size: 13px;
    height: 12%;
}

.nav-link{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    text-align: center;
}

.container-body{
    height: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-toggler{
    border: none !important;
}

@media only screen and (min-width: 991.5px) {
    .navbar-brand{
        display: none !important;
    }
    .bodyTextTitleMobile{
        display: none !important;
    }
    .footballDaoHorizantolMobile{
        display: none !important;
    }
}

@media only screen and (max-width: 991.5px) {
    .logo-middle{
        display: none !important;
    }
    .navbar-brand img{
        height: 6.5vw !important;
    }
    .nav-item{
        height: 50px !important;
    }
    .nav-link{
        font-size: 25px !important;
    }
    .bodyTextTitle{
        display: none !important;
    }
    .footballDaoHorizantol{
        display: none !important;
    }
}